@media only screen and (min-device-width: 320px) {
    .m-option__focus {
        right: -40%;
    }
}
@media only screen and (min-device-width: 375px) {
    .m-option__focus {
        right: -30%;
    }
}
@media only screen and (min-device-width: 425px) {
    .m-option__focus {
        right: -28%;
    }
}
@media only screen and (min-device-width: 768px) {
    .m-option__focus {
        right: -14%;
    }
}
@media only screen and (min-device-width: 1024px) {
    .m-option__focus {
        right: -25%;
    }
}
@media all and (max-width: 420px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 580px) {

}

@media all and (max-width: 767px) {

}

@media all and (max-width: 768px) {
    /**************** 
		TOP HEADER
	****************/
}
@media screen and (max-width: 500px) {

}

@media all and (max-width: 769px) {

}

.perfil {
    color: #3f4047;
    font-weight: 400;
    font-size: 1rem;
    text-align:center;
    width:30%
}
.m-option {
    cursor:pointer;
}
.lblValido {
    color: #3f4047;
    font-weight: 400;
    font-size: 1rem;
}
.noborder {
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.nopadding-sides{
    padding-left:0px;
    padding-right:0px
}

.borderdashed {
    border-top: 1px dashed #ebedf2;
    border-bottom: 1px dashed #ebedf2;
}

.costototal {
    font-size: 40px!important;
    color: #f4516c!important;
}

.header-center {
    text-align: center;
}

.img_login {
    height: 120px;
    width: 170px;
}

.loader_planillon {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/planilla/assets/images/loadeing_planilla.gif') 50% 50% no-repeat #f5f5f5;
    background-size: 7%;
    opacity: .8;
}

.dataTables_length {
    display: none !important;
}

.dataTables_filter {
    display: none !important;
}

.goodfooter {
    padding: 0px!important;
    border-top: none!important
}

.m-datatable__pager-size{
    display:none!important
}

.m-cheque_subtotal {
    text-align: right;
    padding-top: 20px;
}
.m-cheque_subtotal__body {
    font-weight: 600;
    font-size: 1rem;
}
.m-cheque_subtotal__titulo {
    display: block;
}

.m-cheque_subtotal__importe {
    display: block;
    color: #f4516c !important;
    font-size: 1.3rem;
}